In [1]:
import pandas as pd

In [2]:
newyou = pd.read_csv("newyou.csv")
newyou

,Unnamed: 0,Review Rate,Review Time,Review Text,User,Impact
0,0,5 stars,a week ago,Great hockey people care everyone wears mask g...,Lil Stochl,180 reviews
1,1,5 stars,2 months ago,A great place learn meet new friends students ...,Calwin,65 reviews
2,2,5 stars,3 months ago,York University French Université York publ...,الثريا الثريا,206 reviews
3,3,5 stars,2 months ago,I got excited visit campus The campus good ch...,Lana Jadenson,8 reviews
4,4,3 stars,2 months ago,It large campus walkable Unfortunately nothi...,Hearing Eyes,28 reviews
...,...,...,...,...,...,...
85,85,5 stars,2 years ago,Studied 2 degrees 6 year period 1999 2005 I l...,Charles Moffat,114 reviews
86,86,5 stars,a year ago,Huge campus better bring running shoes visiting,Ian Simpson,11 reviews
87,87,5 stars,2 years ago,As Chinese student I would say best universit...,Alex Le,210 reviews
88,88,5 stars,4 years ago,Nice university walk around,Zaid Asfour,157 reviews
89,89,5 stars,3 months ago,Awesome,Karam Dhanoa,4 reviews

In [3]:
reviews_UoO = pd.read_csv("reviews_UoO21.csv")
reviews_UoO

,Unnamed: 0,Review Rate,Review Time,Review Text,User,Impact
0,0,4 stars,6 months ago,A nice campus interesting mix building age sty...,Samuel Leung,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."
1,1,5 stars,2 months ago,Great university Very nice campus stylish bu...,Xianqi Wu,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."
2,2,5 stars,a month ago,A good place This first time big university l...,Krishna Dheer,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."
3,3,5 stars,6 days ago,Beautiful well kept campus,Alaina Hawes,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."
4,4,5 stars,5 months ago,This university choose connect Canada s next p...,Simple Nomad,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."
...,...,...,...,...,...,...
155,155,4 stars,3 years ago,Without never ending construction campus would...,osabouri,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."
156,156,4 stars,5 years ago,Instructors great wooden administration imper...,Mark Risebrough,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."
157,157,5 stars,4 years ago,Beautiful campus nicest staff ever,Diogo Mattoso,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."
158,158,4 stars,5 years ago,Good place campus little dirty though,WileyApollo,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."
159,159,5 stars,4 years ago,Very good school within heart Ottawa,Khaled Joober,"<div class=""ODSEW-ShBeI-VdSJob"" jsan=""7.ODSEW-..."

In [4]:
reviews_ReU = pd.read_csv("reviews_ReU.csv")
reviews_ReU

,Unnamed: 0,Review Rate,Review Time,Review Text,User,Impact
0,0,4 stars,a month ago,I haven t student I ve always fascinated struc...,E Sayed,192 reviews
1,1,5 stars,5 months ago,Beautiful Small Quiet Area Read book Drink co...,Dalton Taylor,95 reviews
2,2,5 stars,a month ago,Very professional well educated staff great lo...,Sonny Ink.,581 reviews
3,3,5 stars,3 months ago,Great campus right heart down town Students e...,Matthew Facun,214 reviews
4,4,5 stars,a month ago,Now popularly referred University X Due to s...,Bill Talbot,22 reviews
...,...,...,...,...,...,...
95,95,1 star,3 years ago,They midwifery program Ryerson I hired midwif...,Larysa Y,3 reviews
96,96,5 stars,6 years ago,Ryerson offers unique university experience lo...,Brodie Kinnear,1 review
97,97,4 stars,5 years ago,Truly great place learn Lots resources availa...,Spinal2111,289 reviews
98,98,5 stars,a year ago,Great Location The university located heart d...,Farukh Shahzad,311 reviews
99,99,5 stars,6 years ago,After moving across country British Columbia T...,Courtney Hayes,1 review

In [5]:
reviews_UoT = pd.read_csv("reviews_UoT.csv")
reviews_UoT

,Unnamed: 0,Review Rate,Review Time,Review Text,User,Impact
0,0,4 stars,a month ago,Big campus walking classes take long I wish f...,Ashley Tapp,38 reviews
1,1,5 stars,6 months ago,Despite heart one busiest cities world St Geo...,Samuel Leung,303 reviews
2,2,5 stars,2 weeks ago,A magnificent charming campus heart Toronto,Guilherme Cavalcante,358 reviews
3,3,5 stars,9 months ago,January 2021 walk around grounds U T taking ma...,Tim Chase Photography,471 reviews
4,4,5 stars,2 months ago,Amazing tour university Check photos,Fouad Abboud,50 reviews
...,...,...,...,...,...,...
95,95,5 stars,2 months ago,Best University son,Tung Nguyen,111 reviews
96,96,5 stars,a year ago,Beautiful university campus,Lorne Haveruk,177 reviews
97,97,5 stars,a year ago,The University Toronto U T UToronto public r...,Malik Nadeem,911 reviews
98,98,3 stars,a year ago,Very competitive Appreciated multi cultural b...,A Chan,9 reviews
99,99,5 stars,9 months ago,Beautiful campus Great faculty,Matthew Nowers,37 reviews

In [6]:
reviews_WeU = pd.read_csv("reviews_WeU.csv")
reviews_WeU

,Unnamed: 0,Review Rate,Review Time,Review Text,User,Impact
0,0,5 stars,6 days ago,Emergency staff nurses doctors friendly helpf...,Sam Bosma,4 reviews
1,1,5 stars,4 months ago,Love part incredible history So proud kid W...,Omran Sheikh,204 reviews
2,2,1 star,2 months ago,I ashamed university forcing ethics professor ...,Marion Gerull,1 review
3,3,4 stars,a year ago,Seems like nice looking campus We came confer...,S G,194 reviews
4,4,5 stars,2 weeks ago,I double bypass Every person surgeon nurses ...,Rennie Dykens,1 review
...,...,...,...,...,...,...
95,95,2 stars,2 years ago,2 10 rating give university first campus bea...,刘缀之,26 reviews
96,96,1 star,5 years ago,A friends told can t get jobs there they re s...,Babi Zee,12 reviews
97,97,1 star,3 years ago,Lost 5 000 scholarship department counsellor ...,Michael Boyle,89 reviews
98,98,5 stars,5 years ago,I time life university I m kind sad calling ...,Hu Yun Lo,583 reviews
99,99,4 stars,7 months ago,Great place,Brian welsh,49 reviews

In [7]:
import numpy as np

In [8]:
frames = [newyou,reviews_UoO ,reviews_ReU,reviews_UoT,reviews_WeU ]

In [9]:
alluni = pd.concat(frames, keys=["you", "uoo", "reu","uot","weu"])

In [10]:
alluni

        Unnamed: 0 Review Rate   Review Time  \
you 0            0    5 stars     a week ago
    1            1    5 stars   2 months ago
    2            2    5 stars   3 months ago
    3            3    5 stars   2 months ago
    4            4    3 stars   2 months ago
...            ...         ...           ...
weu 95          95    2 stars    2 years ago
    96          96     1 star    5 years ago
    97          97     1 star    3 years ago
    98          98    5 stars    5 years ago
    99          99    4 stars   7 months ago

                                              Review Text             User  \
you 0   Great hockey people care everyone wears mask g...      Lil Stochl
    1   A great place learn meet new friends students ...          Calwin
    2   York University  French  Université York  publ...   الثريا الثريا
    3   I got excited visit campus  The campus good ch...   Lana Jadenson
    4   It large campus walkable  Unfortunately  nothi...    Hearing Eyes
...                                                   ...              ...
weu 95  2 10 rating give university  first  campus bea...             刘缀之
    96  A friends told can t get jobs there  they re s...        Babi Zee
    97  Lost  5 000 scholarship department counsellor ...   Michael Boyle
    98  I time life university  I m kind sad calling  ...       Hu Yun Lo
    99                                        Great place     Brian welsh

             Impact
you 0   180 reviews
    1    65 reviews
    2   206 reviews
    3     8 reviews
    4    28 reviews
...             ...
weu 95   26 reviews
    96   12 reviews
    97   89 reviews
    98  583 reviews
    99   49 reviews

[550 rows x 6 columns]

In [11]:
!pip install textblob

Requirement already satisfied: textblob in c:\users\fatih\anaconda3\lib\site-packages (0.17.1)
Requirement already satisfied: nltk>=3.1 in c:\users\fatih\anaconda3\lib\site-packages (from textblob) (3.6.1)
Requirement already satisfied: joblib in c:\users\fatih\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (1.0.1)
Requirement already satisfied: regex in c:\users\fatih\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (2021.4.4)
Requirement already satisfied: click in c:\users\fatih\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (7.1.2)
Requirement already satisfied: tqdm in c:\users\fatih\anaconda3\lib\site-packages (from nltk>=3.1->textblob) (4.59.0)

In [12]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer
from nltk.sentiment.util import *
from textblob import TextBlob
from nltk import tokenize

In [21]:
alluni.drop_duplicates(subset ="Review Text", keep = "first", inplace = True)
alluni['Review Text'] = alluni['Review Text'].astype('str')
def get_polarity(text):
    return TextBlob(text).sentiment.polarity
alluni['Polarity'] = alluni['Review Text'].apply(get_polarity)

In [22]:
alluni['Sentiment_Type']=''
alluni.loc[alluni.Polarity>0,'Sentiment_Type']='POSITIVE'
alluni.loc[alluni.Polarity==0,'Sentiment_Type']='NEUTRAL'
alluni.loc[alluni.Polarity<0,'Sentiment_Type']='NEGATIVE'

In [23]:
alluni

        Unnamed: 0 Review Rate   Review Time  \
you 0            0    5 stars     a week ago
    1            1    5 stars   2 months ago
    2            2    5 stars   3 months ago
    3            3    5 stars   2 months ago
    4            4    3 stars   2 months ago
...            ...         ...           ...
weu 95          95    2 stars    2 years ago
    96          96     1 star    5 years ago
    97          97     1 star    3 years ago
    98          98    5 stars    5 years ago
    99          99    4 stars   7 months ago

                                              Review Text             User  \
you 0   Great hockey people care everyone wears mask g...      Lil Stochl
    1   A great place learn meet new friends students ...          Calwin
    2   York University  French  Université York  publ...   الثريا الثريا
    3   I got excited visit campus  The campus good ch...   Lana Jadenson
    4   It large campus walkable  Unfortunately  nothi...    Hearing Eyes
...                                                   ...              ...
weu 95  2 10 rating give university  first  campus bea...             刘缀之
    96  A friends told can t get jobs there  they re s...        Babi Zee
    97  Lost  5 000 scholarship department counsellor ...   Michael Boyle
    98  I time life university  I m kind sad calling  ...       Hu Yun Lo
    99                                        Great place     Brian welsh

             Impact  Polarity Sentiment_Type  subjectivity
you 0   180 reviews  0.433333       POSITIVE      0.583333
    1    65 reviews  0.370130       POSITIVE      0.546623
    2   206 reviews -0.100000       NEGATIVE      0.166667
    3     8 reviews  0.340278       POSITIVE      0.608333
    4    28 reviews -0.150794       NEGATIVE      0.753968
...             ...       ...            ...           ...
weu 95   26 reviews  0.305000       POSITIVE      0.666667
    96   12 reviews  0.000000        NEUTRAL      0.000000
    97   89 reviews  0.050000       POSITIVE      0.400000
    98  583 reviews  0.183333       POSITIVE      0.483333
    99   49 reviews  0.800000       POSITIVE      0.750000

[549 rows x 9 columns]

In [24]:
alluni.drop_duplicates(subset ="Review Text", keep = "first", inplace = True)
alluni['Review Text'] = alluni['Review Text'].astype('str')
def get_subjectivity(text):
    return TextBlob(text).sentiment.subjectivity
alluni['subjectivity'] = alluni['Review Text'].apply(get_subjectivity)

In [25]:
alluni

        Unnamed: 0 Review Rate   Review Time  \
you 0            0    5 stars     a week ago
    1            1    5 stars   2 months ago
    2            2    5 stars   3 months ago
    3            3    5 stars   2 months ago
    4            4    3 stars   2 months ago
...            ...         ...           ...
weu 95          95    2 stars    2 years ago
    96          96     1 star    5 years ago
    97          97     1 star    3 years ago
    98          98    5 stars    5 years ago
    99          99    4 stars   7 months ago

                                              Review Text             User  \
you 0   Great hockey people care everyone wears mask g...      Lil Stochl
    1   A great place learn meet new friends students ...          Calwin
    2   York University  French  Université York  publ...   الثريا الثريا
    3   I got excited visit campus  The campus good ch...   Lana Jadenson
    4   It large campus walkable  Unfortunately  nothi...    Hearing Eyes
...                                                   ...              ...
weu 95  2 10 rating give university  first  campus bea...             刘缀之
    96  A friends told can t get jobs there  they re s...        Babi Zee
    97  Lost  5 000 scholarship department counsellor ...   Michael Boyle
    98  I time life university  I m kind sad calling  ...       Hu Yun Lo
    99                                        Great place     Brian welsh

             Impact  Polarity Sentiment_Type  subjectivity
you 0   180 reviews  0.433333       POSITIVE      0.583333
    1    65 reviews  0.370130       POSITIVE      0.546623
    2   206 reviews -0.100000       NEGATIVE      0.166667
    3     8 reviews  0.340278       POSITIVE      0.608333
    4    28 reviews -0.150794       NEGATIVE      0.753968
...             ...       ...            ...           ...
weu 95   26 reviews  0.305000       POSITIVE      0.666667
    96   12 reviews  0.000000        NEUTRAL      0.000000
    97   89 reviews  0.050000       POSITIVE      0.400000
    98  583 reviews  0.183333       POSITIVE      0.483333
    99   49 reviews  0.800000       POSITIVE      0.750000

[549 rows x 9 columns]

# connection mongodb

In [26]:
import pymongo

import pandas as pd

In [27]:
client = pymongo.MongoClient("mongodb+srv://fatihbugra3461:200469929@cluster0.yzt8w.mongodb.net/myFirstDatabase?retryWrites=true&w=majority")
db = client["finalassignment"]

col = db["collectionfatih"]

db.col.insert_many(alluni.to_dict("records"))

In [20]:
alluni.to_csv("allunisentclean_video_3.csv")